# Maths
numpy
pandas
scikit-learn

# Data feeds
python-binance
alpha_vantage

# Backtesting
backtesting

# Technical Analysis
ta-lib

# Data bases
motor

# Dashboard
rich
textual

# Others
pytest
uvloop
pre-commit
